@import "hevy-colors";
@import "hevy-bootstrap-overrides";
@import "footer";
@import "mixins";
@import "../vendor/bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/variables";
@import "compass";

#contact-page {
  color: white;
  background-color: #3c3733;
  @include filter-gradient(#3c3733, #6b6662, vertical);
  @include background-image(linear-gradient(top, #3c3733 0%,#6b6662 100%));

  #motivation {
    font-size: 2rem;
    padding: 2rem 2rem 6rem 2rem;
    column-count: 2;
    column-gap: 4rem;

    p {
      text-indent: 4rem;
    }
  }

  .motivation-title {
    margin-top: 0;
    position: relative;
    display: inline-block;
    padding-bottom: ($line-height-computed / 4);
  }

  .vertical-spacing {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}