@import "hevy-colors";
@import "hevy-bootstrap-overrides";
@import "footer";
@import "mixins";
@import "../vendor/bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/variables";
@import "compass";

@mixin contact-page-panel($url) {
  padding: 4rem 2rem 2rem 2rem;
  @include background-image(linear-gradient(top, rgba(white, 0) 0, rgba(white, 0.5) 3rem, rgba(white, 1) 100%), url($url));
  @include background-size(cover);
  background-position: center center;

  @media (min-width: $screen-sm-min) {
    padding: 20vh 4rem 2rem 4rem;
    @include background-image(linear-gradient(top, rgba(white, 0) 5vh, rgba(white, 0.9) 40vh, rgba(white, 1) 100%), url($url));
    @include background-size(cover);
    background-position: center center;
    @include calc(min-height, "100vh - #{$navbar-height} - 1px - #{$footer-height}");
  }
}

#contact-page {
  color: $hevy-black;
  background-color: white;
}

#about {
  @include contact-page-panel('images/two-dourpower-20211.jpg');
}

#contact {
  @include contact-page-panel('images/church-cherry-20205.jpg');
}