//
// Icon Font: icons
//

@font-face {
  font-family: "icons";
  src: url("/fonts/icons/icons.eot");
  src: url("/fonts/icons/icons.eot?#iefix") format("embedded-opentype"),
       url("/fonts/icons/icons.woff") format("woff"),
       url("/fonts/icons/icons.ttf") format("truetype"),
       url("/fonts/icons/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "icons";
    src: url("/fonts/icons/icons.svg#icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-barbell:before,
.icon-hex:before,
.icon-hex-aphelion:before,
.icon-hex-facebook:before,
.icon-hex-instagram:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-barbell:before { content: "\f102"; }
.icon-hex:before { content: "\f107"; }
.icon-hex-aphelion:before { content: "\f106"; }
.icon-hex-facebook:before { content: "\f104"; }
.icon-hex-instagram:before { content: "\f105"; }

$font-icons-barbell: "\f102";
$font-icons-hex: "\f107";
$font-icons-hex-aphelion: "\f106";
$font-icons-hex-facebook: "\f104";
$font-icons-hex-instagram: "\f105";
