@import "hevy-bootstrap-overrides";
@import "../vendor/bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/variables";
@import "footer";

@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

#lookbook-container {
  background-color: $navbar-inverse-bg;
  @include calc(height, "100vh - #{$navbar-height} - 1px - #{$navbar-margin-bottom} - #{$footer-height}");
  position: relative;

  #lookbook-loader {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10vh;
  }

  #lookbook {
    display: none;
    div {
      height: 100%;
    }
    > div {
      width: 100%;
    }

    .portrait { display: inherit; }
    .landscape { display: none; }
    @media (min-aspect-ratio: 10/9) {
      .portrait { display: none; }
      .landscape { display: inherit; }
    }

    .preload {
      display: none;
      img {
        width: 1px;
        height: 1px;
      }
    }
  }
}
