@import "hevy-bootstrap-overrides";
@import "../vendor/bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/variables";
@import "compass";

$navbar-logo-padding: $navbar-height / 6;

#navbar-logo {
  position: absolute;
  top: $navbar-logo-padding;
  left: $navbar-logo-padding;
  height: ($navbar-height - $navbar-logo-padding) * 4/3;
  z-index: 1;
}

.navbar {

  .navbar-logo {
    vertical-align: top;
    display: inline-block;
    fill: white;
    height: $navbar-height / 2;
    $margin: $navbar-height / 4;
    margin: $margin 0;
    &:hover,
    &:focus {
      fill: $navbar-inverse-link-color;
    }
  }

  .navbar-logo {
    -webkit-transition: fill 0.5s;
    -moz-transition: fill 0.5s;
    -ms-transition: fill 0.5s;
    -o-transition: fill 0.5s;
    transition: fill 0.5s;
  }
}

@media (max-width: $screen-xs-max) {
  .navbar-inverse .collapse .navbar-nav > .active > a {
    &,
    &:hover,
    &:focus {
      background-color: transparent;
      @include background-image(linear-gradient(left, rgba($navbar-inverse-link-active-bg, 1) 0%, rgba($navbar-inverse-link-active-bg, 0) 100%));
    }
  }
}
