@import "hevy-colors";
@import "hevy-bootstrap-overrides";
@import "../vendor/bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/variables";

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
}

.products-grid {
  a.product {
    color: $text-color;
    &:visited { color: $text-color; }
    &:hover { color: $hevy-burgundy; }
    &:active { color: $hevy-burgundy; }
    -webkit-transition: color 200ms;
    -moz-transition: color 200ms;
    -ms-transition: color 200ms;
    -o-transition: color 200ms;
    transition: color 200ms;

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    .product-images {
      [class^="product-image"] {
        @include aspect-ratio(4, 3);
        background-size: cover;
        background-position: center center;
      }
      .product-image-secondary {
        margin-top: -75%;
        display: none;
      }
    }
  }

  [class*=' col-'] {
    margin-bottom: 1.5em;
  }
}

