@import "hevy-colors";
@import "hevy-bootstrap-overrides";
@import "../vendor/bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/variables";

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
}

[data-background-image-url] {
  background-size: cover;
  background-position: center center;
}

.product-page {
  .product-images {
    .product-image-current {
      @include aspect-ratio(4, 3);
    }
    .product-image-option {
      @include aspect-ratio(4, 3);
      margin-top: -75%;
      display: none;
    }

    .product-image-selectors {
      text-align: center;
      margin-top: 1em;
      .product-image-selector {
        @include aspect-ratio(1, 1);
        width: 100px;
        display: inline-block;

        margin-bottom: 1em;

        border: solid $text-color 0.3rem;
        &.active {
          border-color: $hevy-burgundy;
        }

        margin-right: 1em;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}


.products-grid {
  a.product {
    color: $text-color;
    &:visited { color: $text-color; }
    &:hover { color: $hevy-burgundy; }
    &:active { color: $hevy-burgundy; }
    -webkit-transition: color 200ms;
    -moz-transition: color 200ms;
    -ms-transition: color 200ms;
    -o-transition: color 200ms;
    transition: color 200ms;

    text-decoration: none;
    text-align: center;

    .product-images {
      [class^="product-image"] {
        @include aspect-ratio(4, 3);
      }
      .product-image-secondary {
        margin-top: -75%;
        display: none;
      }
    }
  }

  [class^='col-'] {
    margin-bottom: 1.5em;
  }
}

