@import "hevy-colors";
@import "hevy-bootstrap-overrides";
@import "../vendor/bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/variables";
@import "../vendor/bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/mixins";

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
}

@mixin make-a-column($columns, $gutter: $grid-gutter-width, $num-columns: $grid-columns) {
  position: relative;
  float: left;
  width: percentage(($columns / $num-columns));
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
}

@mixin make-a-column-offset($columns, $num-grid-columns: $grid-columns) {
  margin-left: percentage(($columns / $num-grid-columns));
}

[data-background-image-url] {
  background-size: cover;
  background-position: center center;
}

.product-page {
  .product-images {
    .product-image-current {
      @include aspect-ratio(4, 3);
    }
    .product-image-option {
      @include aspect-ratio(4, 3);
      margin-top: -75%;
      display: none;
    }

    .product-image-selectors {
      margin-top: $grid-gutter-width;
      .product-image-selector {
        @include aspect-ratio(1, 1);

        margin-bottom: $grid-gutter-width;

        border: solid $text-color 0.3rem;
        &.active {
          border-color: $hevy-burgundy;
        }

        margin-right: $grid-gutter-width;
        &:last-child {
          margin-right: 0;
        }
      }

      @include make-row();
      &.product-image-selectors-2 {
        .product-image-selector-col {
          @include make-a-column(1, $num-columns: 4);
          &:first-child {
            @include make-a-column-offset(1, 4);
          }
        }
      }
      &.product-image-selectors-3 {
        .product-image-selector-col {
          @include make-a-column(1, $num-columns: 5);
          &:first-child {
            @include make-a-column-offset(1, 5);
          }
        }
      }
      &.product-image-selectors-4 {
        .product-image-selector-col {
          @include make-a-column(1, $num-columns: 4);
        }
      }
      &.product-image-selectors-5 {
        .product-image-selector-col {
          @include make-a-column(1, $num-columns: 5);
        }
      }
    }
  }
}


.products-grid {
  a.product {
    color: $text-color;
    &:visited { color: $text-color; }
    &:hover { color: $hevy-burgundy; }
    &:active { color: $hevy-burgundy; }
    -webkit-transition: color 200ms;
    -moz-transition: color 200ms;
    -ms-transition: color 200ms;
    -o-transition: color 200ms;
    transition: color 200ms;

    text-decoration: none;
    text-align: center;

    .product-images {
      [class^="product-image"] {
        @include aspect-ratio(4, 3);
      }
      .product-image-secondary {
        margin-top: -75%;
        display: none;
      }
    }

    h4, h4 > * {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  [class^='col-'] {
    margin-bottom: 1.5em;
  }
}

