{% assign url_array = page.full_url | split: '/' %}
{% if url_array[2] contains 'localhost' %}
    {% assign assets_host = url_array[2] | prepend: '//' | prepend: url_array[0] | append: '/' %}
{% else %}
    {% assign assets_host = 'http://assets.hevy.la/' %}
{% endif %}
<div class="container-fluid content-with-footer">
    <h1 class="title">CART</h1>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% if cart.items.size > 0 %}
            <form method="post" action="/cart">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Item</th>
                        <th>Option</th>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in cart.items %}
                    <tr name="item-{{forloop.index}}">
                        <td><a href="{{ item.product.url }}">{{ item.product.name | upcase }}</a></td>
                        <td>{% unless item.product.has_default_option %}{{ item.option.name }}{% endunless %}</td>
                        <td><span id="item-{{ item.id }}-unit-price">{{ item.unit_price | money_with_sign }}</span></td>
                        <td>{{ item | item_quantity_input, item.option.id_qty, 'form-control form-input-small' }}</td>
                        <td><span id="item-{{ item.id }}-price">{{ item.price | money_with_sign }}</span></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td id="cart-total" colspan="2">
                            <h2>Total: {{cart.total | money_with_sign}}</h2>
                        </td>
                        <td colspan="3">
                            <div class="form-group"><button name="update" type="submit" class="form-control btn btn-default">Update Cart</button></div>
                            <div class="form-group"><button name="checkout" type="submit" class="form-control btn btn-hevy">Checkout</button></div>
                            <div class="form-group"><a href="/products" class="btn btn-block btn-link">Continue Shopping</a></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
            {% else %}
            <div class="text-center">
                <p class="lead">Whoa Doc, this cart is empty.</p>
                <a href="/products">Continue Shopping</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div id="footer">
    <div id="footer-bar">
        <a href="/products"><img id="footer-logo" src="{{assets_host}}/images/hevy-main.svg"/></a>
    </div>
</div>
