<div class="container-fluid">
    <h1 class="title">CART</h1>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% if cart.items.size > 0 %}
            <form method="post" action="/cart">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Item</th>
                        <th>Option</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    {% for item in cart.items %}
                    <tbody>
                    <tr name="item-{{forloop.index}}">
                        <td><a href="{{ item.product.url }}">{{ item.product.name | upcase }}</a></td>
                        <td>{% unless item.product.has_default_option %}{{ item.option.name }}{% endunless %}</td>
                        <td>{{ item | item_quantity_input, item.option.id_qty, 'form-control' }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="form-group"><button name="update" type="submit" class="form-control btn btn-default">Update Cart</button></div>
                            <div class="form-group"><button name="checkout" type="submit" class="form-control btn btn-hevy">Checkout</button></div>
                            <div class="form-group"><a href="/products" class="btn btn-block btn-link">Continue Shopping</a></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
            {% else %}
            <div class="text-center">
                <p class="lead">Whoa Doc, this cart is empty.</p>
                <a href="/products">Continue Shopping</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>