<div id="lookbook-container">
    <div id="lookbook-spinner">
        <i class="icon-barbell icon-spin"></i>
    </div>
    <div id="lookbook">
        {% if theme.image_sets.lookbook_images.size > 0 %}
        <ul class="slides-container">
            {% for image in theme.image_sets.lookbook_images %}
            <li><div data-background-image-url="{{ image.url }}"/></li>
            {% endfor %}
        </ul>
        <div class="preload">
            {% for image in theme.image_sets.lookbook_images %}
            <img src="{{ image.url }}"/>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

<div id="footer">
    <div id="footer-bar">
        <a href="/products"><img id="footer-logo" src="{{ 'hevy-main.svg' | theme_image_url }}"/></a>
    </div>
</div>