<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HEVY</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ theme | theme_css_url }}">
    {{ head_content }}
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li{% if page.url == '/' %} class="active"{% endif %}><a href="/">HOME</a></li>
                <li{% if page.url == '/products' %} class="active"{% endif %}><a href="/products">PRODUCTS</a></li>
                <li{% if page.url == '/cart' %} class="active"{% endif %}><a href="/cart"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> ({{ cart.item_count }})</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="content" class="container">
{{ page_content }}
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
