<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>HEVY</title>
    <link rel="stylesheet" href="{{ theme | theme_css_url }}">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    {{ head_content }}
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hevy-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a target="_blank" href="http://aphelion.io"><i class="icon-social icon-hex-aphelion"></i></a>
            <a target="_blank" href="https://instagram.com/dbshreds/"><i class="icon-social icon-hex-instagram"></i></a>
            <a target="_blank" href="https://www.facebook.com/bttfseries"><i class="icon-social icon-hex-facebook"></i></a>
        </div>
        <div class="collapse navbar-collapse" id="hevy-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li{% if page.url == '/' %} class="active"{% endif %}><a href="/">HOME</a></li>
                <li{% if page.url == '/products' %} class="active"{% endif %}><a href="/products">PRODUCTS</a></li>
                <li{% if page.url == '/contact' %} class="active"{% endif %}><a href="/contact">ABOUT</a></li>
                <li{% if page.url == '/cart' %} class="active"{% endif %}><a href="/cart">
                    <div>
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                        <span>CART: {{ cart.item_count }}</span>
                    </div>
                </a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="content">
{{ page_content }}
</div>

<script src="{{ theme | theme_js_url }}"></script>
</body>
</html>
