<div class="container-fluid product-page">
    <div class="row">
        <div class="col-sm-6 product-images">
            <div class="product-image-current" data-background-image-url="{{ product.image | product_image_url }}"></div>
            {% if product.images.size > 1 %}
            {% for image in product.images %}
            <div class="product-image-option" data-background-image-url="{{ image | product_image_url }}"></div>
            {% endfor %}
            <div class="product-image-selectors">
                {% for image in product.images %}
                <div class="product-image-selector{% if forloop.first %} active{% endif %}"
                     data-background-image-url="{{ image  | product_image_url }}"></div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="col-sm-6">
            <h1 class="top-heading">{{ product.name | upcase }}</h1>
            <p class="lead">
                <span>{{ product.default_price | money_with_sign }}</span>
                {% case product.status %}
                {% when 'sold-out' %}
                <span>/ Sold Out</span>
                {% when 'coming-soon' %}
                <span>/ Coming Soon</span>
                {% endcase %}
            </p>
            {% if product.description != blank %}
            {{ product.description | paragraphs }}
            {% endif %}

            {% if product.status == 'active' %}
            <form method="post" action="/cart">
                <div class="form-group">{{ product.options_in_stock | options_select, 'product-options', 'form-control' }}</div>
                <div class="form-group"><button name="submit" type="submit" title="ADD TO CART" class="form-control btn btn-default">ADD TO CART</button></div>
            </form>
            {% endif %}

            <div>
                <div class="fb-like" data-href="{{product.url}}" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
            </div>
        </div>
    </div>
</div>
